{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Graph API Sample Connector",
    "description": "Microsoft Graph API Sample Connector\nhttps://docs.microsoft.com/power-automate/",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/users": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Organization Users",
        "description": "Get Organization Users",
        "operationId": "GetOrganizationUsers",
        "parameters": [
          {
            "name": "$Top",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$Filter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$Skiptoken",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "https://graph.microsoft.com/.default": "https://graph.microsoft.com/.default"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "https://graph.microsoft.com/.default"
      ]
    }
  ],
  "tags": []
}